body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.photo-grid figure {
	width: calc(100%/3 - 2em);
	float: left;
	margin: 1em;
	height: 31em;
}

.photo-grid img {
	width: 20em;
	height: 20em;
}
